.bgImage{
    background-image: url('../img/heroBackground.png');
    background-repeat: no-repeat;
    height: 95vh;
    width: 100vw;
    z-index: 2;
}

.heroRightSide{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 30px;
    height: 95vh;
    width: 100%;
}

.heroText{
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    display: block;
    text-align: left;
    max-width: 469px;
    color: #403F3F;
}

.featureTitle{
    color: #EAE9E9 !important;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 80px !important;
}

.featureImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featureText h1{
    color: #EAE9E9 !important; 
    font-size: 34px;
    font-weight: 600;
}
.featureText span{
    color: #EAE9E9 !important; 
    font-size: 18px;
}

@media (max-width: 767px){
    .heroLeftSide{
        display: none;
    }
    .heroRightSide{
        /* display: block; */
        align-items: center;
        justify-content: center;
    }
    .featureImg{
        padding: 20px;
    }
}