.menuBar {
    padding: 30px 40px;
    background: #178066;
    /* height: 100px; */
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
}

.logo{
    float: left;
}

.menuCon{
    width: calc(100% - 150px);
}

.menu{
    background: transparent;
    border-bottom: none;
    color: #EAE9E9;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.menuMobile{
    display: none;
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none;
    background: none;
}
  .barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: #1890ff;
    position: relative;
}

@media (max-width: 767px) {
    .barsMenu{
        display: inline-block;
    }
    .menuCon .menu{
        display: none;
    }
    .menuMobile{
        display: block;
    }
    .menu{
        color: #000;
    }
    .menuCon{
        float: right;
    }
    
}