@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}
.ant-layout-sider-trigger {
  background-color: #178066 !important;
}
.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.box{
  border: 5px solid #c3c3c3;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.box .row-main{
  justify-items: center;
  /* border: 5px solid #178066; */
  width: 1440px;
  height: auto;
}
.box .row-main .col-1{
  justify-items: center;
  /* border: 2px solid #178066; */
  width: inherit;
  height: auto;
}
.box .row-main .col-2{
  justify-items: center;
  /* border: 2px solid #178066; */
  width: inherit;
  height: auto;
  background: #178066;
  text-align: start;
  font-style: normal;
  padding: 40px;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 6vh;
}
.row-main .col-2 h1{
  letter-spacing: 1px;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
}
.row-main .col-2 p{
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 56px;
}

/* Form */
/* .form-row {
  border: 2px solid #000000;
  padding: 20px;
} */
form .input-user{
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  height: 54px;
  margin-bottom: 5px;
}
#button-signup{
  color: #000;
}
.pilih-locgin {
  
}